<h1 class="text-center">Password reset</h1>

<form
  novalidate
  #pwResetForm="ngForm"
  (ngSubmit)="sendPasswordResetEmail(pwResetForm)"
>
  <div class="form-group">
    <label>Email</label>
    <input
      type="text"
      class="form-control "
      name="email"
      #email="ngModel"
      [(ngModel)]="user.email"
      required
      pattern="[^@]+@[^\.]+\..+"
    />
    <div *ngIf="email.errors && (email.dirty || email.touched)">
      <div [hidden]="!email.errors.required">
        Email is required.
      </div>
      <div [hidden]="email.valid">
        Email is invalid.
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">
    Send Password Reset Email
  </button>
</form>
